{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

<!-- Individual info -->
<div class="categories">
  {{ $systems := .Site.Params.systems }}
  {{ $categories := .Site.Params.categories }}

  {{ range $categories }}
    <div class="category {{ if .closed }}category--closed{{ else }}category--open{{ end }}{{ if not .untitled }} category--titled{{ end }}" id="{{ .name | urlize }}">
      {{ if not .untitled }}
      <div class="bold padding clicky category__head" onclick="toggleCategoryHead(this)">
        <span class="hide-without-js">
          <span class="category__closed-marker">►</span>
          <span class="category__open-marker">▲</span>
        </span>

      <b>
        {{ .name }}
      </b>
      
      {{ with .description }}
        <span class="tooltip tooltip--small">
          &nbsp; <span class="faded">(?)</span>

          <span class="tooltip__text">
            {{ . }}
          </span>
        </span>
      {{ end }}
 
      <span class="category-status"></span>

      </div>
      {{ else }}
      <div class="padding"></div>
      {{ end }}

      
      {{ $categorySystems := where $systems "category" "=" .name }}

      <div class="components">